.card-home-div {
    padding: 20px 0;
    margin: auto;
}

.card-home-div-content {
    p {
        text-align: center;
        font-size: 14px;
    }
}

.card-home-div {
    img {
        width: 25vw;
        padding: 10px;
    }
}

.card-content {
    width: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 10px 25px 10px;
}

.card-content {
    a {
        transition: font-size 0.2s ease-in-out;
    }
}

.title-bar {
    height: 2px;
    width: 66%;
    margin: auto;
    display: block;
}

.card-content:hover {
    .title-bar {
        width: 80%;
    }

    h2 a {
        font-size: 46px;
    }
}

.subtitle {
    font-family: lifesavers, sans-serif;
}

