<section>
    <h2 class="section-title section-title-wide">À propos</h2>
    <h3>Qui suis-je ?</h3>
    <p>La photographie, c'est une passion de longue date. Des appareils photos jetables pendant les sorties scolaires, aux prémices de la photo compact numérique grand public lors de mes premiers,
        en passant mon premier boitier et aujourd'hui mon équipement Fujifilm que j'apprécie tant. Mon approche de la photographie est axé sur le reportage,
        avec une envie de partager des photos les plus proche de la réalité. Je me suis d'abord formé à la photographie avec une approche naturaliste avant d'aller à la rencontrer des gens.</p>
    <h3>Collaborons ! </h3>
    <p>Je suis installé à Toulouse et je cherche toujours à explorer des nouveaux horizons. Vous avez une activité à partager ? Un hobby ? Votre métier ? N'hésitez pas à me contacter.
        Je suis aussi à la recherche d'association dans l'évènementiel pour nouer un partenariat : festival, concert... je suis là pour vous aider à enrichir vos réseaux sociaux.</p>
</section>
<section>
    <app-contact-form></app-contact-form>
</section>
