#about-cover{
    display: block;
    margin: auto;
    padding : 20px 0;
    width: 50%;
}
section{
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding-bottom: 30px;
}
p {
    padding : 0 20px;
    text-align:justify;
    text-justify: inter-word;
}
h3{
    padding-left: 15px;
}
.section-title-wide{
    margin:0;
}
.socials{
    display: flex;
    flex-direction: row;
    img{
        width: 50px;
    }
}
