footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    img{
        width: 20px;
        cursor: pointer;
    }
    a {
        font-family: Lora-, serif;
        font-size: 12px;
        justify-content: end;
        padding-right: 10px;
        align-self: center;
    }
    div:first-of-type{
        display:flex
    }
    mat-slide-toggle{
        padding-left:8px
    }
}
