.grid-portrait {
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px auto 25px auto;
    width: 100%;
    text-align: center;
    place-items: center;

    app-card-photo {
        display: flex;
        flex-direction: column;
        img {
            width: 20vw;
        }
    }
}

.grid-landscape {
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto 25px auto;
    width: 100%;
    text-align: center;
    place-items: center;
    padding-top: 25px;

    app-card-photo {
        display: flex;
        flex-direction: column;
        img {
            width: 30vw;
        }
    }
}

html {
    scroll-snap-type: y mandatory;
}

app-card-photo{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
