<header>
    <div class="header-top">
        <a [routerLink]="['/']"><h1>ψ MATTHIEU M PHOTO ψ</h1></a>
        <details #details>
            <div class="menu">
                <a [routerLink]="['/']" (click)="closeDetails()">Accueil</a>
                <a *ngFor="let section of sections" [routerLink]="[section.route]" (click)="closeDetails()">{{section.category}}</a>
                <a href="mailto: contact@matthieu-m.com">Contact</a>
            </div>
            <summary><img src="../../../assets/icons/menu.svg" alt="menuicon"></summary>
        </details>
    </div>
<!--    <div class="gallery-title">{{this.galleryTitle}}</div>-->
</header>

