<div class="header-bottom-div"><img class="header-bottom" src="../../../assets/photos/home/mysore-002.jpg" alt="banner"></div>
<!--<img id="about-cover" src="assets/photos/about-001.jpg" alt="me">-->
<!--    <h2 class="section-title section-title-wide">À propos</h2>-->
<section>
    <div class="about-title">
        <img src="assets/icons/camera.png" width="20px">
        <h3>Une passion pour la photographie</h3>
    </div>
    <p>Ma passion est née avec les appareils jetables, ces petits boîtiers pleins de souvenirs.
        J'ai ensuite exploré les premiers appareils numériques, fasciné la technologie.
        Aujourd'hui, mon appareil photo m'accompagne partout, toujours près à dégainer.</p>
</section>
<section>
    <div class="about-title">
        <img src="" width="20px">
        <h3>Sublimer le réel</h3>
    </div>
    <p>Mon style reste naturel, proche du reportage. Je suis animé par l'envie de représenter la réalité sous sa plus belle lumière ; loin des studios et de leurs artifices.</p>
</section>
<section>
    <div class="about-title">
        <img src="" width="20px">
        <h3>Faisons équipe !</h3>
    </div>
    <p>Installé à Toulouse, je suis ouvert à tous projets collaboratifs ! Couvrir un évènement ? Organiser un shooting pour votre branding ? Contactez moi !</p>
</section>
    <h3>Mes réseaux</h3>
    <div class="socials">
        <img src="../../../assets/icons/instagram.webp" alt="instagram-icon">
        <img src="../../../assets/icons/linkedin.png" alt="linkedin-icon">
        <img src="../../../assets/icons/github.png" alt="github-icon">
    </div>
