<div class="header-bottom-div"><img class="header-bottom" src="../../../assets/photos/home/mysore-002.jpg" alt="banner"></div>
<!--<img id="about-cover" src="assets/photos/about-001.jpg" alt="me">-->
<section>
<!--    <h2 class="section-title section-title-wide">À propos</h2>-->
    <div class="about-title">
        <img src="assets/icons/camera.png" width="20px">
        <h3>Une passion pour la photographie</h3>
    </div>

    <p>Tout a commencé avec les appareils photos jetables des sorties scolaires, puis avec les débuts de la photographie numérique jusqu'à aujourd'hui où je ne me déplace pas sans appareil photo.</p>
    <h3>Sublimer le réel</h3>
    <p>Mon style reste naturel, c'est l'envie de représenter la réalité sous sa plus belle lumière ; loin des studios et des lumières artificielles.</p>
    <p>J'aime dire que je fais du reportage, que je capture la réalité au plus proche de ce quelle est, pour embellir la réalité</p>
    <h3>Faisons équipe !</h3>
    <p>Installé à Toulouse, je suis ouvert à tous projets collaboratifs ! Couvrir un évènement ? Organiser un shooting pour votre branding ? Contactez moi !</p>
    <h3>Mes réseaux</h3>
    <div class="socials">
        <img src="../../../assets/icons/instagram.webp" alt="instagram-icon">
        <img src="../../../assets/icons/linkedin.png" alt="linkedin-icon">
        <img src="../../../assets/icons/github.png" alt="github-icon">
    </div>
</section>
