<div class="about-container">
    <h2 class="section-title">&nbsp;&nbsp;À propos&nbsp;&nbsp;</h2>
    <main>
<!--        <div class="header-bottom-div"><img class="header-bottom" src="../../../assets/photos/home/mysore-002.jpg"-->
<!--                                            alt="banner"></div>-->
        <div class="section-container">
            <section>
                <div class="about-title">
                    <h3>Une passion pour la photographie</h3>
                </div>
                <p>Ma passion est née avec les appareils jetables, ces petits boitiers pleins de souvenirs. J’ai continué
                    avec
                    les premiers appareils photos numériques et n’ai jamais arrêté. Aujourd’hui mon appareil ne me quitte
                    jamais, toujours prêt à faire la bonne photo au bon moment.</p>
                <img id="icon-camera" src="../../../assets/icons/camera.png" alt="icon-camera">
            </section>
            <section>
                <div class="about-title">
                    <h3>Sublimer le réel</h3>
                </div>
                <p>Mon style est naturel et candide, proche du reportage. Je suis animé par l’envie de représenter la
                    réalité
                    sous sa plus belle lumière. Pas de studio ni de lumières artificielles plutôt de la patience et de la
                    rigueur. </p>
                <img id="icon-landscape" src="../../../assets/icons/landscape3.png" alt="icon-camera">
            </section>
            <section>
                <div class="about-title">
                    <h3>Travaillons ensemble !</h3>
                </div>
                <p>Je suis installé à Toulouse et je suis disponible pour couvrir vos évènements culturels et sportifs. J’ai
                    photographié de nombreux groupes et concerts. Je travaille avec différentes organisations dans l’optique
                    de
                    livrer rapidement des clichés pour les réseaux sociaux.</p>
                <div>
                    <a href="mailto:contact@matthieu-m.com"><img id="icon-mail" src="assets/icons/mail.svg" alt="mail"></a>
                    <a href="https://www.instagram.com/matthieu_m_photo/"><img id="icon-instagram"
                                                                               src="assets/icons/instagrambw.svg"
                                                                               alt="instagram"></a>
                </div>
            </section>
        </div>
    </main>
</div>
<!--<img id="about-cover" src="assets/photos/about-001.jpg" alt="me">-->


