.legend {
    font-family: modernsans-, serif;
    padding: 15px 0;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
}
