@font-face {
    font-family: "Lora-";
    src: url("assets/fonts/Lora-Medium.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "amaticSC";
    src: url("assets/fonts/MODERNE-SANS.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "upheavtt";
    src: url("assets/fonts/upheavtt.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "lifesavers";
    src: url("assets/fonts/Cantarell.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "amaticSC";
    src: url("assets/fonts/AmaticSC-Bold.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "lifesavers";
    src: url("assets/fonts/LifeSavers-Bold.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}


