@font-face {
    font-family: "Lora-";
    src: url("assets/fonts/Lora-Medium.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "modernsans-";
    src: url("assets/fonts/MODERNE-SANS.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "upheavtt";
    src: url("assets/fonts/upheavtt.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
