@media (min-width: 100px) and (max-width: 968px) {
    html {
        scroll-snap-type: y mandatory;
    }
    app-about {
        main {
            flex-direction: column!important;
            padding: 10% 5% !important;
        }
        #about-cover {
            padding: 0 !important;
            width: 100% !important;
        }

        section {
            width: 100% !important;
        }
        section:nth-child(2), section:nth-child(3) {
            margin-top: 10% !important;
        }
        .section-container {
            flex-direction: column !important;
            justify-content: initial !important;
        }
        //.header-bottom-div{
        //    display: none !important;
        //}
        #icon-landscape {
            width: 250px !important;
        }

    }
    app-header {
        height: 4rem;

        .header-top {
            padding: 0 0 0 0 !important;

            img {
                width: 50px !important;
                height: 50px !important;
            }
        }

        h1 {
            font-size: 25px !important;
            text-align: left !important;
            padding-left: 10% !important;
            flex-shrink : 0 !important;
        }

        .menu a {
            font-size: 24px !important;
            padding: 15px !important;
        }

        .gallery-title {
            display: inline !important;
            font-family: amaticSC, serif !important;
            text-transform: uppercase !important;
            text-align: center !important;
            border-top: 1px solid white !important;
            margin: 0 10px 0 10px !important;
            font-size: 1rem !important;
            padding: 10px !important;
        }
        summary{
            display:flex;
        }
    }
    app-home {
        //.header-bottom {
        //    width: 100% !important;
        //}

        main {
            .grid-home {
                grid-template-columns: 1fr !important;
            }
        }

        .card-content {
            width: 80vw !important;
            padding: 15px 25px 15px 25px !important;
        }

        .card-content:hover h2 a, .card-content h2 a {
            font-size: 28px !important;
        }

        .card-home-div img {
            width: 75vw !important;
            padding: 0 !important;
        }
    }
    app-gallery {
        h2 {
            font-size: 36px;
        }

        app-card-photo img{
            scroll-snap-align: center;
            scroll-snap-stop: always;
        }

        .grid-landscape {
            grid-template-columns: 1fr !important;
            grid-gap: 20px !important;
            margin: 20px 0 0 0!important;
            padding: 0 !important;
        }
        .grid-portrait{
            grid-template-columns: 1fr !important;
            grid-gap: 20px !important;
            margin: 0 !important;
            padding: 0 !important;
        }
        .grid-portrait img, .grid-landscape img {
            width: 100% !important;
        }

        .section-title {
            display: none;
        }
    }
    app-ig-feed {
        app-card-ig {
            width: 100% !important;
        }
    }
    app-card-ig {
        article {
            h2 {
                font-size: 16px;
            }

            flex-direction: column !important;

            img {
                width: 100% !important;
                padding-bottom: 10px !important;
            }

            p {
                font-size: 12px !important;
            }
        }
    }
    app-footer{
        //position: initial !important;
        footer{
            margin:10px 0 0 0 !important;
        }
    }
    app-galleries{
        .grid-home {
            grid-template-columns: 1fr !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
    app-card-gallery {
        width : 100% !important;
        .card-gallery {
            .card-content{
                width: 100% !important;
                padding : 0 !important;
                h2{
                    a {
                        font-size: 28px !important;
                        padding: 20px 0 5px 0;
                    }
                }
            }
        }
        img {
            width: 80vw !important;
            scroll-snap-align: center;
            scroll-snap-stop: always;
        }
    }
    app-return-button{
        display:none !important;
    }
}

