// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular_portfolio-primary: mat.define-palette(mat.$indigo-palette);
$angular_portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular_portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular_portfolio-theme: mat.define-light-theme((
    color: (
        primary: $angular_portfolio-primary,
        accent: $angular_portfolio-accent,
        warn: $angular_portfolio-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular_portfolio-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Lora-, serif;
}

p {
    margin: 0;
}

h2 {
    font-family: "upheavtt", serif;
    margin: 0;
    font-size: 50px;
}

a {
    display: flex;
    color: #e1e2e1;
    text-decoration: none;
    justify-content: center;
}

details {
    cursor: pointer;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}
